node_modules/
.env
.DS_Store

# Permitir que se suban los catálogos JSON
!local_data/
!local_data/*.json

# Pero ignorar estrictamente la clave privada de Firebase por seguridad
local_data/firebase-key.json
